<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Book list</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Add book</h1>
	<div>
	<div class="col-md-4">
		<form th:object="${book}" th:action="@{save}" action="#" method="post">
			<label for="btitle">Book title</label>
			<input type="text" id="btitle" th:field="*{title}" class="form-control" />
			<div style="clear: both; display: block; height: 12px;"></div>
			<label for="bauthor">Author name</label>
			<input type="text" id="bauthor" th:field="*{author}" class="form-control" />
			<div style="clear: both; display: block; height: 12px;"></div>
			<label for="byear">Year</label>
			<input type="number" id="year" th:field="*{year}" class="form-control" />
			<div style="clear: both; display: block; height: 12px;"></div>
			<label for="bisbn">ISBN</label>
			<input type="text" id="bisbn" th:field="*{isbn}" class="form-control" />
			<div style="clear: both; display: block; height: 12px;"></div>
			<label for="bprice">Book price</label>
			<input type="text" id="bprice" th:field="*{price}" class="form-control" />
			<div style="clear: both; display: block; height: 12px;"></div>
			
			<label for="catlist">Category</label>
			<select id="catlist" th:field="*{category}" class="form-control">
				<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
			</select>
			<div style="clear: both; display: block; height: 12px;"></div>
			<input type="submit" value="Save"  class="btn btn-success"></input>
		</form>
		</div>
	</div>
</body>
</html>